# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# External dependencies (Flixel)
external/

# Timelapse images for desktop and webcam
timelapse/

# Screenshots and other PR things
pr/

Thumbs.db
levels/save

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
